.light-mode {
    background-color: whitesmoke;
    color: black;
}

.light-mode th {
    background-color: whitesmoke;
}

.light-mode .modal-content{
    background-color: whitesmoke;
}

.light-mode input {
    background-color: white;
    color: black;
}

.light-mode .dropdown-list {
    background-color: lightgrey;
}

.light-mode .dropdown-list label {
    background-color: darkgrey;
    color: black;
}

.light-mode footer {
    background-color: darkgrey;
    color: black;
}

.light-mode #option-container {
    background-color: lightgrey
}

.light-mode .sched_h2 td{
    background-color: whitesmoke;
}

.light-mode .empty_schedule_cell {
    color: whitesmoke;
}

.light-mode #scheduleGrid .dimmed {
    background-color: #a1a1a1;
    color: #7b7b7b;
    cursor: not-allowed;
}